<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <link
      href="{{ url_for('static',
    filename='node_modules/open-iconic/font/css/open-iconic-foundation.css') }}"
      rel="stylesheet"
    />
    <!-- <link
      href="{{ url_for('static',
    filename='node_modules/font-awesome/css/font-awesome.min.css') }}"
      rel="stylesheet"
    /> -->
    <title>English Note</title>
  </head>
  <body>
    <div id="root"></div>
    <script src="{{ url_for('static', filename='bundle.js') }}"></script>
    <!-- <script src="../fe_dist/bundle.js"></script> -->
  </body>
</html>
