<!DOCTYPE html>
<html lang="ko">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <!-- 부가적인 테마 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        
        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

        <title>English Note</title>
    </head>
    <body>
        <div class="container">
            <div class="row" style="height: 200px;"></div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2 form-group">
                    <form method="POST" action="/login">
                        <div class="input-group">
                            <input type="text" name="username" class="form-control" placeholder="이름을 입력하시오">
                            <span class="input-group-btn">
                                <input type="submit" class="btn btn-default">
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </body>    
</html>
