{% extends 'layout.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="form-group">
                <label for="title">Title</label>
                <p id="title" class="lead">{{post.title}}</p>
            </div>

            <div class="form-group">
                <label for="videolink">Link</label>
                <div class="embed-responsive embed-responsive-16by9" style="display: none;" id="videodiv">
                    <iframe id="videoframe" 
                    class="embed-responsive-item"
                    src="{{post.videolink}}" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen
                    ></iframe>
                </div>
            </div> 

            <div class="form-group" id="text">
                <label for="kor-1">Text</label>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6 col-xs-6">
            <a class="btn btn-lg btn-default btn-block" href="/modifypost/{{post.postid}}">수정</a>
        </div>
        <div class="col-md-6 col-xs-6">
            <button class="btn btn-lg btn-danger btn-block" onclick="remove()">삭제</button>
        </div>
    </div>
</div>
<script>
    $(function(){
        var url = '{{post.videolink}}'.trim();
        if(url != ''){
            $('#videodiv').show()
        }

        var koreans = '{{post.korean}}'.replaceAll('&#39;', "'").split(';');
        var englishs = '{{post.english}}'.replaceAll('&#39;', "'").split(';');
        var length = koreans.length-1;

        for(var textCount = 0; textCount < length; textCount++){
            var html = '<p id="kor-' + textCount + '"><span class="glyphicon glyphicon-eye-close"' + 
                            ' onclick="toggle(this)"' + 
                            ' data-order='+ textCount + 
                            ' data-visible=false></span>' + koreans[textCount] + '</p>' + 
                        '<p id="eng-' + textCount + '" style="display: none;">' + englishs[textCount] + '</p>';
            $('#text').append(html);
        }
    });

    function toggle(el){
        el = $(el);
        var order = el.data('order');
        if(el.data('visible')){
            el.removeClass('glyphicon-eye-open');
            el.addClass('glyphicon-eye-close')
            el.data('visible', false);
            $('#eng-' + order).hide();
        }
        else{
            el.addClass('glyphicon-eye-open');
            el.removeClass('glyphicon-eye-close')
            el.data('visible', true);
            $('#eng-' + order).show();
        }
    }

    function remove(){
        if(!confirm('정말 삭제 하시겠습니까?')){
            return;
        }
        $.ajax({
            url: '/post/{{post.postid}}',
            type: 'delete',
            success: function(){
                alert('삭제가 완료 됐습니다.');
                location.href = '/';
            }
        });
    }
</script>

{% endblock %}